/* ----------------------------------------
	Layout / Page
---------------------------------------- */

.page {
	position: relative;

	@include media(">=for-tablet-landscape-up") {
		padding-bottom: $gutter-lg;
	}
}

.page > * {
	margin: 0 auto;
	padding-left: $gutter-xs;
	padding-right: $gutter-xs;
}

.page.-home {
	& > .page__body {
		margin: 0;
		padding: 0;
	}
}

.page.-recipePage,
.page.-drinksPage,
.page.-categoryPage,
.page.-about,
.page.-results {
	& > .page__body {
		margin-bottom: $gutter-sm;
		padding-top: $gutter-lg;

		@include media(">=for-tablet-portrait-up") {
			margin-bottom: $gutter-md;
		}

		@include media(">=for-desktop-up") {
			width: var(--content-width);
			width: 100%;
			margin-bottom: $gutter-lg;
			padding-left: 0;
			padding-left: calc(50% - var(--content-width) / 2);
			padding-right: 0;
			padding-right: calc(50% - var(--content-width) / 2);
		}
	}
}

.page.-recipes,
.page.-drinks {
	& > .page__body {
		margin-bottom: $gutter-sm;
		padding-top: $gutter-lg;

		@include media(">=for-tablet-portrait-up") {
			margin-bottom: $gutter-md;
		}

		@include media(">=for-desktop-up") {
			margin-bottom: $gutter-lg;
		}
	}
}
