/* ----------------------------------------
	Components / Tags
---------------------------------------- */

.tags {
	margin: 0 !important;
	padding: 0 !important;
}

.tags__label {
	@include text-label();
	margin-top: 1.5em;
	margin-bottom: 0.5em;
	pointer-events: none;

	@include media(">=for-tablet-landscape-up") {
		position: absolute;
		margin-top: 0.5em;
		margin-bottom: 0;
		transform: translateX(calc(-100% - 1em));
		line-height: 1em;
	}

	@include media(">=for-desktop-up") {
		margin-top: 1em;
	}
}

.tag {
	margin-left: 0;
	margin-bottom: $base-line-height / 2;

	a:not(:first-child) {
		margin-left: 5px;
	}
}
