/* ----------------------------------------
	Components / Menu
---------------------------------------- */

.menu {
	display: block;
	padding-right: 0;

	&.-isHidden {
		display: none;
	}

	@include media(">=for-desktop-up") {
		// visually align from button padding
		transform: translateX(#{$gutter-xs / 2});
	}
}

.menu__item {
	@include nav-link();

	&[aria-current] {
		background-color: $light-gray;
	}
}
