/*
https://coolors.co/2b3b4c-1e2732-ff6f4f-dcd9c8-fffef7
https://coolors.co/2b3b4c-1e2732-38aecc-0090c1-fffef7
https://coolors.co/2b3b4c-1e2732-e8c547-fff05a-fffef7
https://coolors.co/2b3b4c-1e2732-845a6d-6e75a8-fffef7
https://coolors.co/2b3b4c-1e2732-f1bf98-8fd5a6-fffef7
*/

@import
	"../../node_modules/normalize.css/normalize",
	"../../node_modules/bourbon/core/bourbon",
	"../../node_modules/include-media/dist/include-media",
	"../../node_modules/locomotive-scroll/src/locomotive-scroll";

@import
	"utilities/variables",
	"utilities/mixins",
	"utilities/helpers";

@import
	"layout/base",
	"layout/typography",
	"layout/media",
	"layout/page",
	"layout/header",
	"layout/footer";

@import
	"components/breadcrumb",
	"components/buttons",
	"components/crosshair",
//	"components/font-face": imported in _layout/typography
	"components/inputs",
	"components/intro",
	"components/menu",
	"components/modals",
	"components/nav",
	"components/scroll",
	"components/search",
	"components/social-icons",
	"components/tags";

@import
	"templates/default",
	"templates/about",
	"templates/drink",
	"templates/drinks",
	"templates/home",
	"templates/recipe",
	"templates/recipes",
	"templates/search";
