{% if directions %}
	<ol class="directions__list">

		{% for step in directions %}
			<li id="{{ step.direction|replace({ ' ' : '', '.' : '', ',' : '' })|lower|slice(0, 24) }}" class="direction reading" tabindex="0">
				{{ step.direction|typogrify }}
			</li>
		{% endfor %}

	</ol>

{% else %}
	<p>Apparently you should be able to figure this one out on your own?</p>

{% endif %}
