{#
	Component: Ingredient
	URI: '_components/ingredients'
	As seen on:
		- 'https://recipes.onemohrti.me/recipes'
		- 'https://recipes.onemohrti.me/drinks'
#}

{% set ingredients = ingredients %}

{% if ingredients %}
	<ul class="ingredients__list">
		{% switch entry.section.handle %}

			{% case 'recipes' %}
				{% for ingredient in ingredients %}
					<li class="ingredient reading">
						<span class="quantity">{{ ingredient.quantity|typogrify }}</span>
						<span class="units">{{ ingredient.units }}</span>
						<span class="ingredient">{{ ingredient.ingredient|typogrify }}</span>
					</li>
				{% endfor %}

			{% case 'drinks' %}
				{% for ingredient in ingredients %}
					<li class="ingredient reading">
						{{ ingredient|typogrify }}
					</li>
				{% endfor %}

			{% default %}
				<li class="ingredient reading">Evidently there are no ingredients.</li>

		{% endswitch %}
	</ul>

{% else %}
	<ul class="ingredients__list">
		<li class="ingredient reading">Evidently there are no ingredients.</li>
	</ul>

{% endif %}
