<nav id="menu" class="menu">

	<a href="/recipes" class="menu__item" aria-current="page" aria-label="Food">
		<span data-title="Food">Food</span>
	</a>

	<a href="/drinks" class="menu__item" aria-label="Drinks">
		<span data-title="Drinks">Drinks</span>
	</a>

	<a href="javascript:void(0)" id="searchToggle" class="menu__item" aria-label="Search">
		<span data-title="Search">Search</span>
	</a>

</nav>
