{#
	Component: Nutrition Label
	URI: '_components/nutrition'
	As seen on:
		- 'https://recipes.onemohrti.me/recipes'
		- 'https://recipes.onemohrti.me/drinks'
#}

<details class="nutrition">
	<summary class="nutrition__header">
		<h3 class="nutrition__title">Nutrition Facts</h3>
		<div class="nutrition__servingSize">Serving Size: 501 grams</div>
		<div class="nutrition__serves">Serves: 1</div>
	</summary>
	<figure class="nutrition__info">
		<figcaption class="nutrition__label">
			Amount Per Serving
		</figcaption>
		<div class="nutrition__table">
			<div class="nutrition__row -calories">
				<span class="-label">Calories:</span>
				<span class="-value">1061</span>
			</div>
			<div class="nutrition__dailyValue">
				<span class="-label">% Daily Value*</span>
			</div>
			<div class="nutrition__row -macros">
				<span class="-value"><span class="-label -strong">Total Fat:</span> 90.6g</span>
				<span class="-dailyValue">116%</span>
			</div>
			<div class="nutrition__row -macros">
				<span class="-indent"></span>
				<span class="-value"><span class="-label">Saturated Fat:</span> 30.9g</span>
				<span class="-dailyValue"></span>
			</div>
			<div class="nutrition__row -macros">
				<span class="-indent"></span>
				<span class="-value"><span class="-label">TransFat:</span> 0.2g</span>
				<span class="-dailyValue"></span>
			</div>
			<div class="nutrition__row -macros">
				<span class="-value"><span class="-label -strong">Cholesterol:</span> 773.3mg</span>
				<span class="-dailyValue">258%</span>
			</div>
			<div class="nutrition__row -macros">
				<span class="-value"><span class="-label -strong">Sodium:</span> 1625.2mg</span>
				<span class="-dailyValue">71%</span>
			</div>
			<div class="nutrition__row -macros">
				<span class="-value"><span class="-label -strong">Total Carbohydrate:</span> 17.7g</span>
				<span class="-dailyValue">6%</span>
			</div>
			<div class="nutrition__row -macros">
				<span class="-indent"></span>
				<span class="-value"><span class="-label">Dietary Fiber:</span> 2.6g</span>
				<span class="-dailyValue">9%</span>
			</div>
			<div class="nutrition__row -macros">
				<span class="-indent"></span>
				<span class="-value"><span class="-label">Sugars:</span> 12.6g</span>
				<span class="-dailyValue">25%</span>
			</div>
			<div class="nutrition__row -macros">
				<span class="-value"><span class="-label -strong">Protein:</span> 44.3g</span>
				<span class="-dailyValue">89%</span>
			</div>
		</div>
	</figure>
</details>
