{% extends '_layouts/default' %}

{% set mainClass   = 'drinks -index' %}
{% set drinksQuery = craft.entries.section('drinks') ??? null %}
{% set drinks      = drinksQuery.all() ??? null %}
{% set headline    = entry.headline ??? entry.title %}
{% set description = entry.description ??? null %}

{% block content %}
	<article class="page__drinks{% if drinks|length < 1 %} -isEmpty{% endif %}">

		<header class="drinks__intro intro"
				data-scroll
				data-scroll-class="-inViewport">
			<h1 class="drinks__headline headline" data-title="{{ headline }}">{{ headline }}</h1>

			{% if description %}
				<div class="drinks__subheadline">{{ description }}</div>
			{% endif %}
		</header>

		<section class="drinks -all"
				 id="drinksAll"
				 data-scroll
				 data-scroll-class="-inViewport">

			{% if drinks %}
				{% for drink in drinks %}
					{% include '_components/card-recipe' with {
						recipeOverride: drink,
						descriptions: true
					} %}
				{% endfor %}

			{% else %}
				<p class="no-drinks">There aren&rsquo;t any drinks listed on {{ siteName }} :(</p>

			{% endif %}

		</section>
	</article>
{% endblock %}

{% block modal %}
{% endblock %}

{% block scripts %}
{% endblock %}
