{% extends '_layouts/default' %}

{% set mainClass   = 'drinks -index' %}
{% set drinksQuery = craft.entries.section('drinks') ??? null %}
{% set drinks      = drinksQuery.all() ??? null %}
{% set headline    = entry.headline ??? entry.title %}
{% set description = entry.description ??? null %}

{% block content %}
	<article class="page__drinks{% if drinks|length < 1 %} --is-empty{% endif %}">

	<header class="drinks__intro intro">
		<h1 class="drinks__headline headline" data-title="{{ headline }}">{{ headline }}</h1>

		{% if description %}
			<div class="drinks__subheadline">{{ description }}</div>
		{% endif %}
	</header>

	<section id="drinksAll" class="drinks -all">

		{% if drinks %}
			{% for drink in drinks %}
				{% include '_components/card-recipe' with {
					recipeOverride: drink,
					descriptions: true
				} %}
			{% endfor %}

		{% else %}
			<p class="no-drinks">There aren&rsquo;t any drinks listed on {{ siteName }} :(</p>

		{% endif %}

	</section>
{% endblock %}

{% block modal %}
{% endblock %}

{% block scripts %}
{% endblock %}
